.loginandlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.loginbutton{
    flex: 1;
    width: 50%;
}
.toppic{
    height: 200px;
    display: block;
    object-fit: contain;
    width: 50%;
}
#loginForm input, button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
}

body{
    font-family: Arial, sans-serif;
}
body h1{
    text-align: center;
    text-decoration: solid;
}
/* Style the today's truck section */
.todaystrucks{
    border: 1px solid;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
    color: #00274c;
}
.todaystrucks h3{
    color: #00274c;
    font-size: 1.5em;
    margin-bottom: 20px;
}